/*font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* reset CSS */
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
/* common */

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: '';

  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.nav-link.current {
  color: #404bbf;
}

.hero {
  max-width: 1440px;
  background-size: cover;
  background-position: center center;
  border: 1px solid #000;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero/people-office.jpg');
  background-repeat: no-repeat;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

img {
  display: block;
  object-fit: cover;
}

.page-footer,
.hero {
  background-color: #2e2f42;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.title-hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  width: 496px;
}

.button-hero {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-benefits {
  padding: 120px 0;
}

.benefits-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.benefits-icon {
}

.title-benefits {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-list {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

.benefits-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.item-benefits {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.item-benefits-text {
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-list-item {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0 0 4px 4px;
  max-width: 264px;
}

.member-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.member-team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-member-info {
  padding: 32px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.social-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.social-item-link:hover,
.social-item-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-link {
  flex-basis: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb > .portfolio-item-overlay {
  position: absolute;
  background-color: #4d5ae5;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-item-overlay {
  transform: translateY(0);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: center;
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border-top-width: 0;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #e7e9fc;
}
.page-footer {
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 120px;
}

.footer-logo {
  display: inline-block;
}

.footer-info,
.social-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-footer-list {
  display: flex;
  flex: start;
  flex-direction: row;
  gap: 16px;
}

.text-footer,
.social-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.social-text {
  font-weight: 500;
  color: #fff;
}

.social-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: #31d0aa;
}
